<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class= "dashboard-header">
    <H1> Welcome {{ session['first_name'] }}, to Fountain Pen Fanatics Central</H1>
    

    <button class= "btn btn-primary" onclick="window.location.href='/logout'">Logout</button>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <h2>Community Pens</h2>
    <table class="table table-hover ">
        <thead>
            <tr>
                <th scope="col">Manufacturer</th>
                <th scope="col">Model</th>
                <th scope="col">Nib Size</th>
                <th scope="col">Nib Type</th>
                <th scope="col">Color</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for pen in likes %}
            <tr>
                <td> {{ pen.manufacturer }}</td>
                <td> {{ pen.model }}</td>
                <td> {{ pen.nib_size }}</td>
                <td> {{ pen.nib_type }}</td>
                <td> {{ pen.color }}</td>
                <td> ${{ pen.price }}</td>
                <td class="btn-group btn-group-sm">

                    <a href="/pen/{{ pen.id}}" class="btn btn-primary">Pen Details</a>

                    {% if pen.user_id == session['user_id'] %}

                    <a href="/edit/{{ pen.id }}" class= "btn btn-secondary">edit</a>

                    <a href="/delete/{{ pen.id }}" class= "btn btn-danger" >delete</a>

                    {% endif %}

                    {% if pen.user_id != session['user_id'] %}

                    <a href="/unlike/{{ pen.id }}" class= "btn btn-warning">unlike</a>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>
            {% for pen in unlikes %}
            <tr>
                <td> {{ pen.manufacturer }}</td>
                <td> {{ pen.model }}</td>
                <td> {{ pen.nib_size }}</td>
                <td> {{ pen.nib_type }}</td>
                <td> {{ pen.color }}</td>
                <td> ${{ pen.price }}</td>
                <td class="btn-group btn-group-sm">

                    <a href="/pen/{{ pen.id}}" class="btn btn-primary">Pen Details</a>

                    {% if pen.user_id == session['user_id'] %}

                    <a href="/edit/{{ pen.id }}" class= "btn btn-secondary">edit</a>

                    <a href="/delete/{{ pen.id }}" class= "btn btn-danger">delete</a>

                    {% endif %}

                    {% if pen.user_id != session['user_id'] %}

                    <a href="/like/{{ pen.id }}" class= "btn btn-success">like</a>
                    {% endif %}
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>



    <button class="btn btn-primary" onclick="window.location.href='/new'">Add a New Pen</button>

</body>

</html>