<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit TV Show</title>
</head>

<body>
    <header>


        <h1>
            Add {{ show.name }}
        </h1>

        <button onclick="window.location.href='/dashboard'">TV Shows</button>
        <button onclick="window.location.href='/logout'">Logout</button>

    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="main">
        <form action="/edit/{{show.id}}/post" method='POST'>

            <label for="title">Title:</label>
            <input type="text" name="title"
            value = '{{ show.title }}'>

            <label for="network">Network:</label>
            <input type="text" name="network"
            value = '{{ show.network }}'>

            <label for="release_date">Release Date:</label>
            <input type="date" name="release_date"
            value = '{{ show.release_date }}'>

            <label for="description">Description:</label>
            <textarea name="description" cols="30" rows="10">{{ show.description }}</textarea>

            <button type="submit">Update</button>


        </form>
    </div>
</body>

</html>