<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Fountain Pen</title>
</head>

<body>
    <header>


        <h1>
            Add a New Fountain Pen
        </h1>

        <button onclick="window.location.href='/dashboard'">Community Pens</button>
        <button onclick="window.location.href='/logout'">Logout</button>

    </header>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="main">
        <form action="/pens/post" method='POST'>

            <label for="manufacturer">Manufacturer:</label>
            <input type="text" name="manufacturer">

            <label for="model">Model:</label>
            <input type="text" name="model">

            <label for="nib_size">Nib Size:</label>
            <select name="nib_size">
                <option value= "Extra Fine"> EF </option>
                <option value= "Fine"> F </option>
                <option value= "Medium"> M </option>
                <option value= "Broad"> B </option>
                <option value= "Stub"> Stub </option>
                <option value= "Flex"> Flex</option>
            </select>

            <label for="nib_type">Nib Type</label>
            <select name="nib_type">
                <option value="European"> European</option>
                <option value= "Japanese"> Japanese</option>
            </select>

            <label for="color">Color</label>
            <input type="text" name="color">

            <label for="price"> Price</label>
            <input type="number" name="price">

            <label for="description">Description:</label>
            <textarea name="description" cols="30" rows="10"></textarea>

            <button type="submit">Add</button>


        </form>
    </div>
</body>

</html>