<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tv Show Show-page</title>
</head>

<body>
    <header>
        <button onclick="window.location.href='/dashboard'">TV Shows</button>
        <button onclick="window.location.href='/logout'">Logout</button>

    </header>

    <div class="card">
        <h1>{{ show.title }}</h1>
        <h2>Liked by: {{ num_of_likes}}</h2>

        <p>Network: {{ show.network }}</p>

        <p>Release_date: {{ show.release_date }}</p>

        <p>Description: {{show.description }}
        </p>

        <p>Posted By: {{ show.fan.first_name}} {{ show.fan.last_name}}</p>

    </div>

</body>

</html>